<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>朗姆芝士 Rum Cheese Cake 朗姆芝士__蛋糕网上订购_5小时新鲜送达_心仪官网</title>
    <link rel="stylesheet" href="../css/goods-description.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
</head>
<body>
<header id="header">
    <%-include('common/header.ejs')%>
    <div class="daohanglan">
        <div class="content-middle">
            <div class="daohangLeft">
                <span>Rum Cheese Cake 朗姆芝士</span>
            </div>
            <div class="daohangRight">
                <span>¥298.00/2.0磅</span><i></i>
            </div>
        </div>

    </div>
</header>

<!--//顶部导航栏内容-->
<div class="shopMall shopMall2">
    <i></i>
    <p>成功添加购物车</p>
    <button>查看购物车</button>
</div>
<div class="sec2-right2">
    <div class="top top2">
        <div class="sec2-tl">
            <img src="../images/lmy18.jpg" alt="">
        </div>
        <div class="sec2-tr">
            <div class="size">
                <i></i>
                <span><%=mydata[0].spec_size%></span>
            </div>
            <div class="people">
                <i></i>
                <span><%=mydata[0].spec_person%></span>
            </div>
            <div class="tool">
                <i></i>
                <span><%=mydata[0].spec_tools%></span>
            </div>
            <div class="time">
                <i></i>
                <span>最早今天 21:30配送</span>
            </div>
        </div>

    </div>
    <div class="mid mid3">
        <span>商品规格</span>
        <button class="bt1">1.0磅
            <i></i>
        </button>
        <button class="bt2">2.0磅
            <i></i>
        </button>
        <button class="bt3">3.0磅
            <i></i>
        </button>
        <button class="bt4">4.0磅
            <i></i>
        </button>
        <button class="bt5">5.0磅
            <i></i>
        </button>
        <button class="bt6">更多磅数
            <i></i>
        </button>
    </div>
    <div class="bottom2">
        <button>立即购买</button>
        <button>加入购物车</button>
    </div>
</div>
<!--===============第一部分-----上面的大图片和旁边的三张小图片==============-->


<section class="sec1">
    <div class="center1">
        <!--1）左边大图-->
        <div class="sec1-left">
            <img src="../images/lmy6.jpg" alt="">
        </div>

        <!--2）右边三张小图    -->
        <div class="sec1-right">
            <ul>
                <li>
                    <img src="../images/lmy6.jpg" alt="" class="img1" style="outline: rgb(198, 156, 109) solid 1px;">
                </li>
                <li>
                    <img src="../images/lmy10.jpg" alt="" class="img2" style="outline: none;">
                </li>
                <li>
                    <img src="../images/lmy8.jpg" alt="" class="img3" style="outline: none;">
                </li>
            </ul>
        </div>
    </div>
</section>


<!--==============第二部分-----描述及选择部分===============================-->


<section class="sec2">
    <div class="center1">
        <div class="sec2-left">
            <div class="left-content1">
                <p>Rum Cheese Cake 朗姆芝士</p>
                <span>朗姆芝士</span>
            </div>
            <div class="left-content2">
                <button>情侣&gt;</button>
                <button>白色情人节&gt;</button>
                <button>生日&gt;</button>
                <button>聚会></button>
                <button>结婚></button>
            </div>
            <div class="left-content3">
                <img src="../images/pcicon-03.png" alt="">
                <span>白朗姆酒</span>
                <img src="../images/pcicon-02.png" alt="">
                <span>柠檬</span>
                <img src="../images/pcicon-01.png" alt="">
                <span>芝士</span>
            </div>
            <div class="left-content4">
                <p>/香滑的乳酪与打开的一瓶波多黎各朗姆酒/</p>
                <p>/酒香，微苦，清新的柠檬/</p>
                <p>Shiver me timbers! Here’s a rum one – but unlike most of its seafaring fellows our <br>
                    rum cheesecake is far from swarthy.</p>
            </div>
            <div class="left-content5">
                <ul>
                    <li>
                        <i></i>
                        <span>保鲜条件：</span>
                        <span>0－4℃保藏12小时，5℃食用为佳</span>
                    </li>
                    <li>
                        <span>
                            <img src="../images/sweet_02.png" alt="">
                        </span>
                        <span>参考甜度：</span>
                        <i>
                            <img src="../images/sweet_02.png" alt="">
                        </i>
                        <i>
                            <img src="../images/sweet_02.png" alt="">
                        </i>
                        <i>
                            <img src="../images/sweet_02.png" alt="">
                        </i>
                        <i>
                            <img src="../images/sweet_01.png" alt="">
                        </i>
                        <i>
                            <img src="../images/sweet_01.png" alt="">
                        </i>
                    </li>
                </ul>
            </div>
            <div></div>
        </div>
        <div class="sec2-right">
            <div class="shopMall">
                <i></i>
                <p>成功添加购物车</p>
                <button>查看购物车</button>
            </div>
            <div class="top">
                <div class="sec2-tl">
                    <img src="../images/lmy18.jpg" alt="">
                </div>
                <div class="sec2-tr">
                    <div class="size">
                        <i></i>
                        <span><%=mydata[0].spec_size%></span>
                    </div>
                    <div class="people">
                        <i></i>
                        <span><%=mydata[0].spec_person%></span>
                    </div>
                    <div class="tool">
                        <i></i>
                        <span><%=mydata[0].spec_tools%></span>
                    </div>
                    <div class="time">
                        <i></i>
                        <span>最早今天 21:30配送</span>
                    </div>
                    <div class="price">
                        <span>¥298.00</span>
                        <span>/2.0磅</span>
                    </div>
                </div>

            </div>
            <div class="mid">
                <span class="shopSize">商品规格</span>
                <button class="bt1">1.0磅
                    <i></i>
                </button>
                <button class="bt2">2.0磅
                    <i></i>
                </button>
                <button class="bt3">3.0磅
                    <i></i>
                </button>
                <button class="bt4">4.0磅
                    <i></i>
                </button>
                <button class="bt5">5.0磅
                    <i></i>
                </button>
                <button class="bt6">更多磅数
                    <i></i>
                </button>
            </div>
            <br>
            <div class="mid1">
                <span>换购商品</span>
                <div class="exchangeImg">
                    <img src="../images/lmy19.jpg" alt="">
                </div>
                <i></i>
                <span class="exchangeText">购买任意磅数蛋糕+1元换购四包咖啡（口味随机）</span>
            </div>
            <div class="bottom">
                <button>立即购买</button>
                <button>加入购物车</button>
            </div>
        </div>
    </div>
</section>


<!--=================分界线================================================-->
<div class="divide"></div>


<!--=================第三部分==============================================-->
<section class="sec3">
    <div class="center1">
        <img src="../images/lmy13.jpg" alt="">
        <img src="../images/lmy5.jpg" alt="">
        <img src="../images/lmy14.jpg" alt="">
        <img src="../images/lmy17.jpg" alt="">
        <img src="../images/lmy16.jpg" alt="">
        <img src="../images/lmy15.jpg" alt="">
        <img src="../images/lmy100.jpg" alt="">
    </div>
</section>



<div class="divide2"></div>


<!--=====================第四部分===========================================-->
<section class="sec4">
    <div class="center1">
        <p>小提示:</p>
        <ul>
            <li>1、蛋糕规格及免费配送餐具 ：
                <table>
                    <tbody>
                    <tr>
                        <td>1.0磅：</td>
                        <td>约13×13(cm)</td>
                        <td>裱花9朵</td>
                        <td>适合3-4人食用</td>
                        <td>免费配送5套餐具</td>
                    </tr>
                    <tr>
                        <td>2.0磅：</td>
                        <td>约17×17(cm)</td>
                        <td>裱花16朵</td>
                        <td>适合7-8人食用</td>
                        <td>免费配送10套餐具</td>
                    </tr>
                    <tr>
                        <td>3.0磅：</td>
                        <td>约23×23(cm)</td>
                        <td>裱花25朵</td>
                        <td>适合11-12人食用</td>
                        <td>免费配送15套餐具</td>
                    </tr>
                    <tr>
                        <td>5.0磅：</td>
                        <td>约30×30(cm)</td>
                        <td>裱花49朵</td>
                        <td>适合15-20人食用</td>
                        <td>免费配送20套餐具</td>
                    </tr>
                    </tbody>
                </table>
                <p>订购5磅及5磅以上规格的蛋糕，请与客服人员联系，订购电话：400 650 2121</p>
            </li>
            <li>2、蛋糕在收到后2-3小时内食用为佳</li>
            <li>3、蛋糕坯加有柠檬皮，裱花奶油中含有朗姆酒，整体口感微苦。</li>
            <li>4、如对上述食材有过敏经历者，请选择其它款蛋糕。</li>
        </ul>
    </div>
</section>



<!--=========================第五部分=========================================-->
<section class="sec5">
    <div class="center1 center2">
        <div class="pBox">
            <span>商品推荐</span>
        </div>
        <div class="imgBox">
            <div class="floatL1">
                <div>
                    <a href="/liulianpiaopiao.do">
                        <img src="../images/lmy99.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>自然成熟榴莲肉，超薄白 <br> 巧克力</span>
                    </div>
                </div>
                <div>
                    <p>榴莲飘飘</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <a href="/goods-description.do">
                        <img src="../images/lmy98.jpg" alt="">
                    </a>
                    <div class="hidden">
                        <i></i>
                        <span>芒果，百香果酱</span>
                    </div>
                </div>
                <div>
                    <p>芒果奶油蛋糕</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">

                <div >
                    <a href="/bailitianqingren.do">
                        <img src="../images/lmy97.jpg" alt="">
                    </a>

                    <div class="hidden">
                        <i></i>
                        <span>爱尔兰百利甜酒，当日空 <br>运云南玫瑰</span>
                    </div>
                </div>
                <div>
                    <p>百利甜情人</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
            <div class="floatL1">
                <div>
                    <a href="/qiancao.do">
                        <img src="../images/lmy96.jpg" alt="">
                    </a>

                    <div class="hidden">
                        <i></i>
                        <span>自然成熟榴莲肉，超薄白 <br> 巧克力</span>
                    </div>
                </div>
                <div>
                    <p>浅草</p>
                    <span>¥ 298.00/2.0磅</span>
                </div>
            </div>
        </div>
    </div>

</section>


<div style="clear: both"></div>



<!--页脚-->
<%-include('common/footer.ejs')%>


<script src="dengluZT.js"></script>
<script src="../lib/jquery-1.12.4.js"></script>
<script src="../js/goods-description.js"></script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="../js/qiYe_model.js"></script>
</body>
</html>