<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黑白巧克力慕斯(可撒粉) 企业订制 大磅黑白巧克力慕斯（可撒粉）__蛋糕网上订购_5小时新鲜送达_21Cake官网</title>
    <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
    <link rel="stylesheet" href="../css/home-page.css">
    <link rel="stylesheet" href="../css/footer.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/qiYe_model.css">
    <link rel="stylesheet" href="../css/xinPin.css">
</head>
<body>
<!--=========================================页头=======================================-->
<%-include('common/header.ejs')%>
<!--==============================滚动条事件导航栏========================================-->
    <div class="details-nav">
        <div class="center">
            <h2>企业订制 <%=mydata[142].goods_name%></h2>
                <p class="product-price">
                    <a class="add-cart">
                        <i></i>
                    </a>
                    ¥<span>1500.00</span>/10.0磅
                </p>
        </div>
        <!--==============================滚动条事件导航栏购物框========================================-->
        <div class="daogou0">
            <div class="daogou">
                <ul class="qiyedz-4-2-3 clearfix">
                    <li class="qiyedz-4-2-3one">
                        <i></i><%=mydata[142].spec_size%>
                    </li>
                    <li class="qiyedz-4-2-3two">
                        <i></i><%=mydata[142].spec_person%>
                    </li>
                    <li class="qiyedz-4-2-3three">
                        <i></i><%=mydata[142].spec_tools%>
                    </li>
                    <li class="qiyedz-4-2-3four">
                        <i></i>最早2018-11-08 10:00配送
                    </li>
                </ul>
                <!--===================================蛋糕规格==================================-->
                <div class="guige">
                    <p>商品规格</p>
                    <div>
                        <ul class="guige-ul">
                            <li class="active active01">
                                <a class="active1" href="javascript:void(0)">
                                    <i></i><%=mydata[142].spec_name%>.0磅
                                </a>
                            </li>
                            <li class="active active02">
                                <a  href="javascript:void(0)">
                                    <i></i>20.0磅
                                </a>
                            </li>
                            <li class="active active03">
                                <a href="javascript:void(0)">
                                    <i></i>30.0磅
                                </a>
                            </li>
                            <li class="active active04">
                                <a href="javascript:void(0)">
                                    <i></i>更多磅数
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--=============================购物按钮=============================-->
                <div class="gouWuAnNiu gouWuAnNiu2">
                    <a href="shopsCart.html"><button class="gouWuAnNiu-gouMai gouWuAnNiu-gouMai2">立即购买</button></a>
                    <button class="gouWuAnNiu-gouWuC gouWuAnNiu-gouWuC2">加入购物车</button>
                </div>
            </div>
        </div>
        <!--=============================购物车添加成功=============================-->
        <div class="detailscart">
            <div>
                <p><i></i>成功添加购物车</p>
            </div>
            <a href="shopsCart.html">查看购物车</a>
        </div>
    </div>

<!--=========================================中间内容=======================================-->
<!--=============内容大图==================-->
<section class="neirongda">
            <a class="qiyedingzhi"></a>
</section>
<!--=======================================中间内容区==================================-->
<section>
    <div class="center clearfix neiRong qiyedz">
<!--/*======================左div内容====================*/-->
        <div class="qiyedz-2 clearfix">
            <div class="qiyedz-3">
                <h1 class="qiyedz-3-1">
                    企业订制 <%=mydata[142].goods_name%>
                </h1>
                <div class="qiyedz-3-2">
                    把企业'蛋糕'做大！
                    <br>
                    21cake黑白巧克力慕斯蛋糕
                    <br>
                    目前可做到90磅订制（送庆典图案及企业logo撒粉裱花。）
                </div>
            </div>
<!--/*======================右div内容====================*/-->
            <div class="qiyedz-4">
                <p class="qiyedz-4-1">
                    ¥<span><%=mydata[142].goods_price%>.00</span>/<%=mydata[142].spec_name%>.0磅
                </p>
                <div class="qiyedz-4-2">
                    <div class="qiyedz-4-2-1">
                        <div class="qiyedz-4-2-2">
                            <ul class="qiyedz-4-2-3 clearfix">
                                <li class="qiyedz-4-2-3one">
                                    <i></i><%=mydata[142].spec_size%>
                                </li>
                                <li class="qiyedz-4-2-3two">
                                    <i></i><%=mydata[142].spec_person%>
                                </li>
                                <li class="qiyedz-4-2-3three">
                                    <i></i><%=mydata[142].spec_tools%>
                                </li>
                                <li class="qiyedz-4-2-3four">
                                    <i></i>最早2018-11-08 10:00配送
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
<!--===================================蛋糕规格==================================-->
                <div class="guige">
                    <p>商品规格</p>
                    <div>
                        <ul class="guige-ul">
                            <li class="active active01" id="bang10">
                                <a class="active1">
                                    <i></i><%=mydata[142].spec_name%>.0磅
                                </a>
                            </li>
                            <li class="active active02" id="bang20">
                                <a>
                                    <i></i>20.0磅
                                </a>
                            </li>
                            <li class="active active03" id="bang30">
                                <a>
                                    <i></i>30.0磅
                                </a>
                            </li>
                            <li class="active active04" id="gengduo">
                                <a>
                                    <i></i>更多磅数
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
<!--=============================购物按钮=============================-->
                <div class="gouWuAnNiu">
                    <a href="shopsCart.html"><button class="gouWuAnNiu-gouMai" id="gouWuAnNiu-gouMai">立即购买</button></a>
                    <button class="gouWuAnNiu-gouWuC" id="gouWuAnNiu-gouWuC"><a>加入购物车</a></button>
                </div>
<!--=============================购物车添加成功=============================-->
                <div class="tianjia">
                    <div class="tianjia2">
                        <p>
                            <i></i>成功添加购物车
                        </p>
                        <a href="shopsCart.html">查看购物车</a>
                    </div>
                </div>
            </div>
        </div>
<!--=============================查看详情图=============================-->
        <div class="xiangqingtu">
            <img src="../images/yxl-9.jpg" alt="">
        </div>
<!--=============================商品推荐=============================-->
        <div class="sec5">
            <h2>商品推荐<span>-</span></h2>
               <ul class="recommend-list">
                   <li class="recommend-list1">
                       <a href="/liulianpiaopiao.do">
                           <img src="../images/yxl-4.jpg" alt="">
                           <!--榴莲飘飘-->
                           <h4><%=mydata[5].goods_name%></h4>
                           <p><%=mydata[5].goods_price*2*0.75%>.00/2.0磅</p>
                       </a>
                       <div class="recommend-cart recommend-cart1">
                            <p>自然成熟榴莲肉,超薄白巧克力片</p>
                           <button class="textAndPwd_prompt_model"><i></i></button>
                       </div>
                   </li>
                   <li class="recommend-list2">
                       <a href="/goods-description.do">
                           <img src="../images/02.jpg" alt="">
                           <!--芒果奶油蛋糕-->
                           <h4><%=mydata[58].goods_name%></h4>
                           <p>￥<%=mydata[58].goods_price*2*0.75%>.00/2.0磅</p>
                       </a>
                       <div class="recommend-cart recommend-cart2">
                           <p>芒果,百香果酱</p>
                           <button  class="textAndPwd_prompt_model"><i></i></button>
                       </div>
                   </li>
                   <li class="recommend-list3">
                       <a href="/bailitianqingren.do">
                           <img src="../images/yxl-ce2.jpg" alt="">
                           <!--百利甜情人-->
                           <h4><%=mydata[53].goods_name%></h4>
                           <p><%=mydata[53].goods_price*2*0.75%>.00/2.0磅</p>
                       </a>
                       <div class="recommend-cart recommend-cart3">
                           <p>爱尔兰百利甜酒,当日空运云南玫瑰</p>
                           <button  class="textAndPwd_prompt_model"><i></i></button>
                       </div>
                   </li>
                   <li class="recommend-list4">
                       <a href="/qiancao.do">
                           <img src="../images/03.jpg" alt="">
                           <!--浅草-->
                           <h4><%=mydata[0].goods_name%></h4>
                           <p>￥<%=mydata[0].goods_price*2*0.75%>.00/2.0磅</p>
                       </a>
                       <div class="recommend-cart recommend-cart4">
                           <p>绿茶,玄米,梨</p>
                           <button  class="textAndPwd_prompt_model"><i></i></button>
                       </div>
                   </li>
               </ul>
            </div>
        </div>
</section>
<!--=========================================页尾=======================================-->
<%-include('common/footer.ejs')%>

<!--jq插件-->
<script src="../lib/jquery-1.12.4.js"></script>
<script>
    var bang10="<%=mydata[142].spec_name%>";
    var daxiao35="<%=mydata[142].spec_size%>";
    var fenxiang30="<%=mydata[142].spec_person%>";
    var canju40="<%=mydata[142].spec_tools%>";
    var jiage="<%=mydata[142].goods_price%>"
    /*=============================首页商品加入购物车==========================*/
    $("body").on(
        "click","#gouWuAnNiu-gouWuC",function () {
            var clickTime=1;
            if ($(this).attr("done") == undefined) {
                $(this).attr("done", "true");
                var $index ="<%=mydata[142].goods_id%>";
                var $price ="¥"+$(this).parent().parent().children(".qiyedz-4-1").children().text();
                var $bang = "¥"+$(this).parent().parent().children(".qiyedz-4-1").text().replace("//s/g", "").split("/")[1];
                var $allPrice=$price;
                console.log($bang)
                $.ajax({
                    type: "post",
                    url: "/addGoods.do",
                    data: {
                        goods_id: $index,//商品ID
                        goods_bang: $bang,//商品规格
                        goods_price: $price,//商品单价
                        goods_num: clickTime,//商品数量
                        goods_count: $allPrice,//商品总价
                    },
                    success: function (data) {
                        /*这是为了刷新购物车的商品数量(无需刷新)*/
                        $.ajax({
                            url: "/getCount.do",
                            success: function (data) {
                                var goodsCount = data[0].num;
                                if (goodsCount > 0) {
                                    $("#header .nav-function li .num").css({
                                        transform: "scale(1)"
                                    })
                                    $(".buy-cart").children("span").show();
                                    $(".buy-cart").children("span").children("span").text(goodsCount);
                                } else {
                                    $(".buy-cart").children("span").hide();
                                }
                            }
                        })
                    }
                })
            } else {
                clickTime++;
                console.log(clickTime);
                var $index ="<%=mydata[19].goods_id%>";
                var $price = $(this).parent().parent().children(".inner-addBuy-title").text().split("￥")[1];
                var $allPrice=parseInt($price)*clickTime;
                var $allPrice="￥"+$price*clickTime+".00";
                console.log($index,$price,$allPrice)
                $.ajax({
                    type: "post",
                    url: "/changeGoodsNum.do",
                    data: {
                        goods_id: $index,//商品ID
                        goods_num: clickTime,//商品数量
                        goods_count: $allPrice,//商品总价
                    },
                    success: function (data) {
                        // cosnole.log(data)
                    }
                })
            }
        }
    )
</script>
<script src="../js/home-page.js"></script>
<script src="../js/footer.js"></script>
<script src="dengluZT.js"></script>
<script src="../js/qiYe_model.js"></script>
<script src="../js/xinPin.js"></script>
</body>
</html>